In [1]:
#print simple program
print("Hello, World!")

Hello, World!

In [3]:
#print numbers
print(102)

102

In [ ]:
#declare a simple variable and assign value
x = 23
y = "Alisha"
z = 5.5
print(x)
print(y)
print(z)

23
Alisha
5.5

In [17]:
#perform simple arithmatic operations
print(3+5)

8

In [19]:
#declare variable and perform arithmatic operations
x = 4
y = 10
z = x + y 
a = x - y
b = x * y
c = a + b
print(z)
print(a)
print(b)
print(c)

14
-6
40
34

In [ ]:
#multiple variables with same value
x= y= z= 12
print(y)
print(x)
print(z)

12
12
12

In [23]:
#multiple variables with multiple values
x , y, z = 12 , 14, 50
print(x)
print(y)
print(z)

12
14
50

In [25]:
#print string with text values
Age = "My age is: "
x = 23
print(Age, x)

My age is:  23